@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: anzo1;
    src: url('../Asset/file.woff2');
}
@font-face {
    font-family: anzo2;
    src: url('../Asset/file (1).woff2');
}
@font-face {
    font-family: anzo3;
    src: url('../Asset/file (2).woff2');
}
@font-face {
    font-family: anzo4;
    src: url('../Asset/file (3).woff2');
}

@font-face {
    font-family: madefor;
    src: url('../Asset/madefor-text.var.original.woff2');
}

#page1-in{
    position: relative;
    perspective: 1000px;
}
#tiltdiv{
    width: fit-content;
}
#section2{
    position:relative;
    perspective:2000px;
}
.rotateText{
    transform-origin: 100% 70%;
}

.texture{
    background: url("../Asset/bg_textureRough.avif")

}
